.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.user-list {
  margin-bottom: 20px;
}

.chat-box {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 10px;
}

.message {
  padding: 5px 0;
}

.message-sender {
  font-weight: bold;
}

.my-message {
  background-color: #e1ffc7;
  align-self: flex-end;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.other-message {
  background-color: #f1f1f1;
  align-self: flex-start;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

input {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}
